
@import "./Testimonial/variables";
@import "./Portfolio_Grid/variables";
@import "./Social-media_buttons/fonts";


body {
  background-color: $page-color;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 900px 700px 1fr;
  grid-template-areas:
    "testimonial"
    "portfolio"
    "socialmedia";
  margin: 0;
}
/*-----------------------------------------------------------------Part 1 Testimonial-------------------------------*/
@import "./Testimonial/testimonial" ;

/**************************************************************************************Part 2 Portfolio************************/
@import "./Portfolio_Grid/portfolio";
/***************************************************************************************Part 3 Social-media buttons*************************/
@import "./Social-media_buttons/social-media";

@import "./media-querys/tablet";
@import "./media-querys/mobile";